<tr>
  <td>
    <%= image_tag item.product.image.tiny %><br>
    <h3><%= item.product.name %></h3>
  </td>

  <td>
    <%= item.product.description %>
  </td>

  <td>
    $<%= item.product.price %>
  </td>

  <td>    
    <%= item.quantity %>
  </td>
  
  <td>
  $<%= item.product.price * item.quantity %>
  </td>
</tr>